.MuiList-root li svg{
  width: 30px;
  height: 30px;
}

.MuiList-root li{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.MuiOutlinedInput-root svg{
  display: none;
}

